---
// Structure the sections with their respective items
const sections = [
  {
    title: "Design",
    items: [
      {
        stackLogo: "/sociallogos/figma.svg",
        name: "Figma Community",
        username: "@mikeandreuzza",
        url: "#_",
      },
      {
        stackLogo: "/sociallogos/dribbble.svg",
        name: "Dribbble",
        username: "@mikeandreuzza",
        url: "#_",
      },
      {
        stackLogo: "/sociallogos/behance.svg",
        name: "Behance",
        username: "@michael_andreuzza",
        url: "#_",
      },
      // Add more items as necessary
    ],
  },
  {
    title: "Development",
    items: [
      {
        stackLogo: "/sociallogos/github.svg",
        name: "GitHub",
        username: "@michael-andreuzza",
        url: "#_",
      },
      {
        stackLogo: "/sociallogos/codepen.svg",
        name: "Codepen",
        username: "@michael-andreuzza",
        url: "#_",
      },

      {
        stackLogo: "/sociallogos/stackoverflow.svg",
        name: "Stack Overflow",
        username: "@wicked-labs",
        url: "#_",
      },

      // Add more items as necessary
    ],
  },
  {
    title: "Social Media",
    items: [
      {
        stackLogo: "/sociallogos/linkedin.svg",
        name: "Linkedin",
        username: "@mike-andreuzza",
        url: "#_",
      },
      {
        stackLogo: "/sociallogos/x.svg",
        name: "X",
        username: "@Mike_andreuzza",
        url: "#_",
      },

      // Add more items as necessary
    ],
  },
  {
    title: "Other",
    items: [
      {
        stackLogo: "/sociallogos/spotify.svg",
        name: "Spotify",
        username: "@michael-andreuzza",
        url: "#_",
      },
      {
        stackLogo: "/sociallogos/medium.svg",
        name: "Medium",
        username: "@michaelandreuzzavega",
        url: "#_",
      },
      {
        stackLogo: "/sociallogos/discord.svg",
        name: "Discord",
        username: "@michaandreuzza",
        url: "#_",
      },

      // Add more items as necessary
    ],
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto">
    <div class="text-center max-w-xl mx-auto">
      <h1 class="text-4xl tracking-tight text-balance text-white md:text-6xl">
        I am all around
        <span class="font-display italic font-light tracking-wide">
          find me on...
        </span>
      </h1>
      <p class="mt-4 text-base font-medium text-zinc-400 text-balance">
        I am easy to find on the internet, choose from a variety of social media
        platforms.
      </p>
    </div>
    <div class="mt-6 max-w-xl mx-auto space-y-12">
      {
        sections.map((section) => (
          <div class="flex flex-col gap-6 items-start  ">
            <p class="text-2xl font-display italic tracking-wide text-white">
              {section.title}
            </p>

            <div class="flex flex-col gap-2   w-full ">
              {section.items.map((item) => (
                <a
                  href={item.url}
                  title={item.name}
                  class="flex flex-col ring-1 shadow-3xl  w-full   p-6 rounded-2xl relative overflow-hidden h-full bg-gradient-to-tr from-zinc-800 to-zinc-950 ring-zinc-800 ring-inset group hover:shadow-3xlHover transform transition-all group">
                  <div class="flex items-center gap-4 group text-zinc-400">
                    <img
                      src={item.stackLogo}
                      alt={item.name}
                      class="size-12 rounded-full  dark:border dark:border-zinc-700 group-hover:-rotate-45 duration-300"
                    />
                    <div class="text-sm leading-6">
                      <p class="font-medium text-white  text-base uppercase">
                        {item.name}
                      </p>
                      <p class="text-zinc-400 leading-tight">{item.username}</p>
                    </div>
                  </div>
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
