---
// Assets
import { Image } from "astro:assets";
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
const { title, url, description, pubDate, image } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<article
  class="relative p-2 grid sm:grid-cols-2 group rounded-3xl duration-200 transition-all
         bg-linear-45 from-white dark:from-base-800 to-base-100 dark:to-base-950
         shadow-[var(--neuro-shadow-light)] dark:shadow-[var(--neuro-shadow-dark)]
         hover:shadow-[var(--neuro-shadow-hover-light)] dark:hover:shadow-[var(--neuro-shadow-hover-dark)]
         ring-1 ring-inset ring-white/40 dark:ring-white/5
         cursor-pointer"
>
  <a
    href={url}
    title={title}
    aria-label={`Read more about ${title}`}
    class="absolute inset-0 z-10"></a>
  <div
    class="relative flex flex-col justify-between h-full p-4 overflow-hidden md:min-h-96 rounded-2xl group"
  >
    <div>
      <Text tag="p" variant="textXS" class="dark:text-base-400 text-base-700"
        >{pubDate}</Text
      >
      <Text
        tag="h3"
        variant="textBase"
        class="mt-4 font-medium uppercase dark:text-white text-base-900 text-balance"
      >
        {title}
      </Text>
    </div>
    <div
      class="relative flex flex-col items-start justify-between sm:-mb-20 sm:group-hover:mb-0 gap-12 duration-300"
    >
      <Text
        tag="p"
        variant="textBase"
        class="mt-8 dark:text-base-400 text-base-700 leading-6 text-balance"
      >
        {description}
      </Text>
      <Button
        isLink
        size="xs"
        variant="default"
        href={url}
        aria-label={`Read more about ${title}`}
        aria-hidden={true}
        class="pointer-events-none"
      >
        Read more
      </Button>
    </div>
  </div>
  <Image
    src={image}
    alt={title}
    width={500}
    height={800}
    class="order-first object-cover w-full h-full rounded-2xl"
  />
</article>
