---
const { title, url, description, pubDate, image } = Astro.props;
---

<div
  class="grid sm:grid-cols-2 p-2 ring-1 ring-zinc-800 duration-300 group shadow-3xl rounded-3xl hover:shadow-3xlHover bg-gradient-to-tr from-zinc-800 to-zinc-950">
  <div
    class="flex flex-col justify-between md:min-h-96 p-4 rounded-2xl relative overflow-hidden h-full group">
    <div>
      <p class="text-xs text-zinc-400">{pubDate}</p>
      <p class="font-medium mt-2 text-white text-base uppercase text-balance">
        {title}
      </p>
    </div>

    <div
      class="sm:-mb-20 sm:group-hover:mb-0 gap-12 duration-300 flex flex-col items-start justify-between relative">
      <p class="text-zinc-400 leading-tight mt-8 text-balance line-clamp-3">
        {description}
      </p>
      <a
        href={url}
        title={title}
        class="rounded-full bg-white px-4 flex gap-1 items-center py-2.5 h-9 text-sm font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200"
        >Read more
      </a>
    </div>
  </div>
  <img
    class="w-full h-full object-cover rounded-2xl order-first"
    src={image}
    alt={title}
  />
</div>
