---
// Assets
import { Image } from "astro:assets";
import ScrollUpButton from "@/components/assets/ScrollUpButton.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Entries2 from "@/components/blog/BlogCard.astro";
import SubscribeCta from "@/components/blog/SubscribeCta.astro";
// Content
const allPosts = await getCollection("posts");
import { getCollection } from "astro:content";
const { frontmatter, previous, next } = Astro.props;
---

<BaseLayout>
  <ScrollUpButton />
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="mt-8 italic tracking-wide dark:text-white text-base-900 text-balance font-display"
        >
          {frontmatter.title}
        </Text>
        <Text class="mt-2 text-xs dark:text-white text-base-900">
          Published: <time
            datetime={new Date(frontmatter.pubDate).toLocaleDateString(
              "en-US",
              {
                year: "numeric",
                month: "long",
                day: "2-digit",
              }
            )}
          >
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })
            }</time
          >
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          {frontmatter.description}
        </Text>
      </div>
      <div class="space-y-12">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={800}
          height={400}
          class="object-cover object-center w-full mt-6 shadow rounded-2xl ring-1 max-h-72 dark:ring-base-800 ring-base-200"
        />
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
        <div
          class="flex flex-wrap items-center pt-4 mt-4 border-t gap-2 dark:border-base-900 border-base-200"
        >
          {
            frontmatter.tags.map((tag, index) => (
              <>
                {index > 0 && <span class="text-black dark:text-white">·</span>}
                <Text
                  tag="a"
                  variant="textSM"
                  underlined={true}
                  href={`/blog/tags/${tag}`}
                  class="text-black capitalize dark:text-white"
                >
                  {tag}
                </Text>
              </>
            ))
          }
        </div>
        <nav
          class="relative flex flex-col mt-24 text-xs md:flex-row lg:justify-between gap-4 lg:items-center"
        >
          <div>
            {
              previous && (
                <a
                  href={`/blog/posts/${previous.slug}`}
                  class="hover:opacity-80 "
                >
                  <span class="block font-medium uppercase  text-base-900 dark:text-white">
                    Previous:
                  </span>
                  <span class="block  text-base-500 dark:text-base-400">
                    {" "}
                    {previous.data.title}
                  </span>
                </a>
              )
            }
          </div>
          <div>
            {
              next && (
                <a
                  href={`/blog/posts/${next.slug}`}
                  class="text-right  hover:opacity-80"
                >
                  <span class="block font-medium uppercase  text-base-900 dark:text-white">
                    Next:
                  </span>
                  <span class="block  text-base-500 dark:text-base-400">
                    {" "}
                    {next.data.title}
                  </span>
                </a>
              )
            }
          </div>
        </nav>
      </div>
    </Wrapper>
  </section>
  <SubscribeCta />
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <div class="flex items-end justify-between">
          <Text
            tag="h3"
            variant="displaySM"
            class="italic tracking-wide dark:text-white text-base-900 font-display"
          >
            Latest articles
          </Text>
          <Button isLink size="xs" variant="muted" href="/blog/home"
            >Read all my blog posts
          </Button>
        </div>
      </div>
      <div class="flex flex-col mt-12 gap-2">
        {allPosts.slice(0, 2).map((post) => <Entries2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
