---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
const { title, url, subtitle, pubDate } = {
  url: "/work/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  subtitle: Astro.props.post.data.subtitle,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<article
  class="relative flex flex-col justify-between w-full h-full p-6 overflow-hidden min-h-96 rounded-2xl
         bg-linear-45 from-base-50 dark:from-base-800 to-base-100 dark:to-base-950
         shadow-[var(--neuro-shadow-light)] dark:shadow-[var(--neuro-shadow-dark)]
         hover:shadow-[var(--neuro-shadow-hover-light)] dark:hover:shadow-[var(--neuro-shadow-hover-dark)]
         ring-1 ring-inset ring-white/40 dark:ring-white/5
         duration-200 transition-all group cursor-pointer"
>
  <div>
    <div class="flex items-center justify-between w-full">
      <Text
        tag="h3"
        variant="textBase"
        class="font-medium uppercase dark:text-white text-base-900"
      >
        {pubDate}
      </Text>
      <div
        class="p-1 text-white bg-black rounded-full dark:bg-base-50 dark:text-base-900 group-hover:-rotate-45 duration-300"
      >
        <Plus class="size-5" />
      </div>
    </div>

    <Text
      tag="h3"
      variant="textBase"
      class="mt-4 font-medium uppercase dark:text-white text-base-900 text-balance"
    >
      {title}
    </Text>
  </div>

  <div
    class="flex flex-col items-start justify-between -mb-20 gap-12 duration-300 group-hover:mb-0"
  >
    <Text
      tag="p"
      variant="textBase"
      class="mt-8 leading-6 dark:text-base-400 text-base-600 text-balance"
    >
      {subtitle}
    </Text>
    <Button isLink size="xs" variant="default" href={url} title={title}
      >Read more
    </Button>
  </div>
</article>
